@model WebEnterprise.Models.DTO.CustomUserDTO

@{
    ViewData["Title"] = "CreateManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4 class="d-flex justify-content-center">Create a new Manager</h4>
<hr />
<body>
    <form asp-action="CreateManager" enctype="multipart/form-data" asp-controller="Admin" method="post" class="decor short w-50 h-25 mx-auto">
        <div class="form-inner">
            <label asp-for="FullName" class="control-label"></label>
            <input asp-for="FullName" placeholder="Name Manager..." class="focus" rows="1">
            <span asp-validation-for="FullName" class="text-danger"></span>
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" placeholder="Email Manager..." class="focus" rows="1">
            <span asp-validation-for="Email" class="text-danger"></span>
            <label asp-for="UserName" class="control-label"></label>
            <input asp-for="UserName" placeholder="UserName Manager..." class="focus" rows="1">
            <span asp-validation-for="UserName" class="text-danger"></span>
            <label asp-for="PhoneNumber" class="control-label"></label>
            <input asp-for="PhoneNumber" placeholder="PhoneNumber Manager..." class="focus" rows="1">
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            <button type="submit" >Create</button>
        </div>
    </form>
    
</body>


<div class="pt-5">
    <button type="button" class="btn btn-dark"><a asp-action="ViewAllManager" asp-controller="Admin" class="text-decoration-none">Back To list</a></button>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
