@model WebEnterprise.Models.DTO.CustomUserDTO
@{
	ViewData["Title"] = "CreateStaff";
}


<div class="container">

	<div class="card o-hidden border-0 shadow-lg my-5">
		<div class="card-body p-0">
			<!-- Nested Row within Card Body -->
			<div class="row">
				<div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
				<div class="col-lg-7">
					<div class="p-5">
						<div class="text-center">
							<h1 class="h4 text-gray-900 mb-4">Create an Staff!</h1>
						</div>
						<form class="user" asp-action="CreateStaff" enctype="multipart/form-data" asp-controller="Admin" method="post">
							<div class="form-group row">
								<div class="col-sm-6 mb-3 mb-sm-0">

									<input asp-for="FullName" placeholder="Name Staff..." class="form-control form-control-user" id="exampleFirstName">
								</div>
								<div class="form-group">

									<input asp-for="Email" type="email" class="form-control form-control-user" id="exampleInputEmail"
										   placeholder="Email Address">
								</div>
								<div class="form-group mb-3">
									<label for="validationCustom04" asp-for="DepartmentID">Department</label>
									<label for="validationCustom04" asp-for="DepartmentID">Department</label>
									<div>
										@Html.DropDownListFor(m => m.DepartmentID,
										(IEnumerable<SelectListItem>)ViewBag.departments,
										htmlAttributes:new{@class ="form-control"})
									</div>
								</div>
							</div>
							<div class="form-group">
								<input asp-for="UserName" type="text" class="form-control form-control-user" id="exampleLastName"
									   placeholder="UserName Manager...">
							</div>
							<div class="form-group">
								<input asp-for="PhoneNumber" type="text" class="form-control form-control-user" id="exampleLastName"
									   placeholder="PhoneNumber Staff...">
							</div>
							<div class="form-group mb-3">
								<label asp-for="Image" class="control-label"></label>
								<input type="file" asp-for="Image" name="postedFile" placeholder="Documment." class="form-control">
								<span asp-validation-for="Image" class="text-danger"></span>
							</div>
							<button type="submit" class="btn btn-primary btn-user btn-block">
								Create
							</button>
							<hr>

							<a asp-action="ViewAllStaff" asp-controller="Admin" class="btn btn-facebook btn-user btn-block bg-danger">
								Back to List
							</a>
						</form>
						<hr>


					</div>
				</div>
			</div>
		</div>
	</div>

</div>

@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}

