@model WebEnterprise.Models.DTO.CustomUserDTO
@using Microsoft.AspNetCore.Identity
@inject SignInManager<CustomUser> SignInManager
@{
    ViewData["Title"] = "EditManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-flex justify-content-center d-sm-inline-block form-inline mx-auto ml-md-8 w-50 navbar-search border1">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary border1" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                        
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>



                        <div class="topbar-divider d-none d-sm-block"></div>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@User.Identity?.Name</span>
                                <i class="fa-solid fa-circle-user"></i>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                 <a class="dropdown-item" data-toggle="modal">
                                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" >
                                                <button type="submit" class="dropdown-item" data-toggle="modal" >Logout</button>
                                            </form>
                                </a>
                            </div>
                        </li>         
                        }
                    </ul>

                </nav>
<div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Edit an Manager!</h1>
                            </div>
                            						@if (!ViewData.ModelState.IsValid)
						{
							@Html.ValidationSummary(false, "Error Summary", new { @class = "text-danger" })
						}
                            <form class="user" asp-action="EditManager" enctype="multipart/form-data" asp-controller="Admin" method="post">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        
                                        <input asp-for="FullName" placeholder="Name Manager..." class="form-control form-control-user" id="exampleFirstName"
                                            >
                                    </div>
                                    <div class="form-group">
                                    
                                    <input asp-for="Email" type="email" class="form-control form-control-user" id="exampleInputEmail"
                                        placeholder="Email Address">
                                </div>
                                </div>
                                <div class="form-group mb-3">
								<label class="font-weight-bold" for="validationCustom04" asp-for="DepartmentID">Department</label>
								<div>
									@Html.DropDownListFor(m => m.DepartmentID,
									(IEnumerable<SelectListItem>)ViewBag.departments,
									htmlAttributes:new{@class ="form-control"})
								</div>
							</div>
                                 <div class="form-group">
                                    <input asp-for="UserName" type="text" class="form-control form-control-user" id="exampleLastName"
                                            placeholder="UserName Manager...">
                                </div>
                                <div class="form-group">
								<input asp-for="Address" type="text" class="form-control form-control-user" id="exampleLastName"
									   placeholder="Address Manager...">
							</div>
                             <div class="form-group">
                                    <input asp-for="PhoneNumber" type="text" class="form-control form-control-user" id="exampleLastName"
                                            placeholder="PhoneNumber Manager...">
                                </div>
                       							<div class="form-group">
								<input asp-for="Image" type="file" name="postedFile" class="form-control form-control-user" 
									   >
							</div>
                                
                                <button type="submit" class="btn btn-primary btn-user btn-block"> 
                                    Update
                                </button>
                                <hr>
                                
                                <a asp-action="ViewAllManager" asp-controller="Admin" class="btn btn-facebook btn-user btn-block bg-danger">
                                     Back to List
                                </a>
                            </form>
                            <hr>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
