@model WebEnterprise.Models.Category

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h4 class="d-flex justify-content-center">Create a new Category</h4>
<hr />


<form action="" method="post">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label asp-for="NameCategory"></label>
      <input asp-for="NameCategory" placeholder="Name Category..." class="form-control" id="inputEmail4">
    </div>
    
  </div>
  <div class="form-group">
    <label asp-for="Desciption"></label>
    <textarea asp-for="Desciption" placeholder="Description ..." class="form-control" rows="2"></textarea>
  </div>
  
  
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div class="pt-5">
    <button type="button" class="btn btn-danger"><a asp-action="Index" asp-controller="Category" class="text-decoration-none text-white">Back To list Category</a></button>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
