@model WebEnterprise.Models.Category

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4 class="d-flex justify-content-center">Create a new Category</h4>
<hr />
<body>
    <form action="" method="post" class="decor short w-50 h-25 mx-auto">
        <div class="form-inner">
            <label asp-for="NameCategory" class="control-label"></label>
            <input asp-for="NameCategory" placeholder="Name Category..." class="focus" rows="1">
            <span asp-validation-for="NameCategory" class="text-danger"></span>
            <label asp-for="Desciption" class="control-label"></label>
            <textarea asp-for="Desciption" placeholder="Description ..." class="focus" rows="2"></textarea>
            <span asp-validation-for="Desciption" class="text-danger"></span>
            <button type="submit">Create</button>
        </div>
    </form>
    
</body>


<div class="pt-5">
    <button type="button" class="btn btn-dark"><a asp-action="Index" asp-controller="Category" class="text-decoration-none">Back To list Category</a></button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
