@model WebEnterprise.Models.Idea

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container">
    <h4 class="d-flex justify-content-center">Create a new Idea</h4>
<hr />


<form action="" method="post" enctype="multipart/form-data">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label asp-for="Title"></label>
      <input asp-for="Title" placeholder="Title..." class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-3 mb-3">
            <label for="validationCustom04" asp-for="CategoryID">Category</label>
                @Html.DropDownListFor(m => m.CategoryID,
                                  (IEnumerable<SelectListItem>)ViewBag.categories)
            </div>
    </div>
  <label asp-for="Documment" class="control-label"></label>
  <input type="file" asp-for="Documment" name = "postedFile" placeholder="Name Documment." class="form-control">
  <span asp-validation-for="Documment" class="text-danger"></span>
  <div class="form-group">
    <label asp-for="Content"></label>
    <textarea asp-for="Content" placeholder="Content..." class="form-control" rows="3"></textarea>
  </div>
  
  
  
  <button type="submit" class="btn btn-primary">Post</button>
</form>
<div class="pt-5">
    <button type="button" class="btn btn-danger"><a asp-action="Index" class="text-decoration-none text-white">Back To list Idea</a></button>
</div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
