@model IEnumerable<WebEnterprise.Models.Idea>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <a asp-action="Create">Create a new idea</a>
</div>
        


@foreach(var m in Model)
{
 <div>
    <dl class="row mx-auto">        
        <dd class = "col-sm-10 font-weight-bold">
            @Html.DisplayFor(model => m.Title)
        </dd>        
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => m.Content)
        </dd>        
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => m.Like)
        </dd>        
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => m.View)
        </dd>
    </dl>
</div>   
}

